input-box {
  .input {
    border-radius: 15px 50px 30px;
    border-left: 2px solid color($colors, primary);
    border-right: 2px solid color($colors, primary);
    padding: 16px;
    width: 100%;
    height: 58px;
    color: color($colors, primary);
    font-size: 1.2em;
    background: color($colors, input-box-bg);
  }
  .text-input-md {
    margin: 0px
  }
  .input-container {
    margin: 15px 0px;
  }
}
