.input {
  border-radius: 15px 50px 30px;
  border-left: 2px solid var(--ion-color-primary);
  border-right: 2px solid var(--ion-color-primary);
  padding: 16px;
  width: 100%;
  height: 52px;
  font-size: 1.2em;
  background: var(--ion-color-input-box);
}
.input-container {
  margin: 15px 0px;
}
.sc-ion-input-md-h {
  --padding-start: 20px
}