<ion-content class="signup-background" no-scroll padding>
  <div class="header-container">
      <img src="../../assets/imgs/logo.png" width="50%" height="50%"/>
      <div class="sub-header">Sign in to Continue</div> 
  </div>

  <div class="input-main-container">
    <app-input-box *ngFor="let input of inputFields" [inputVal]="input.val" [inputType]="input.type">
    </app-input-box>
    <button class="button" color="primary" (click)="signup()">
      <ion-ripple-effect></ion-ripple-effect>
      Save & Continue
    </button>
  </div>
</ion-content>
