ion-content{
  --ion-background-color: var(--ion-color-primary-shade)
}

.heading {
  font-size: 25px;
  font-weight: bold;
  margin: 0px 30px;
  text-align: center;
  margin-top: 20px;
  color: var( --ion-color-primary-dark);
}

.sub-heading {
  text-align: center;
  margin-top: 10px;
  color: var(--ion-color-dark-tint)
}